<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" class="material-icons" />

<div class="main" [class.signup-mode]="isSignUpMode" [class.signin-mode]="!isSignUpMode">
  <button class="lang-button" type="button" (click)="toggleLanguage()" [title]="i18n.t('login.languageHint')">
    <i class="material-icons">translate</i>
    {{ i18n.t('login.language') }}
  </button>

  <div class="feedback" *ngIf="feedback" [class.error]="isError">{{ feedback }}</div>

  <div class="container a-container">
    <form class="form" [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
      <img class="logo__icon" src="assets/images/SignIn.svg" alt="GENEA Sign Up" />
      <h2 class="title">{{ i18n.t('login.createAccount') }}</h2>
      <span class="form__span">{{ i18n.t('login.registerHint') }}</span>

      <input type="text" class="form__input" [placeholder]="i18n.t('login.firstName')" formControlName="name" />
      <small *ngIf="controlInvalid('signUpForm', 'name')">{{ i18n.t('login.required') }}</small>

      <input type="email" class="form__input" [placeholder]="i18n.t('login.email')" formControlName="email" />
      <small *ngIf="controlInvalid('signUpForm', 'email')">{{ i18n.t('login.required') }}</small>

      <input type="password" class="form__input" [placeholder]="i18n.t('login.password')" formControlName="password" />
      <small *ngIf="controlInvalid('signUpForm', 'password')">{{ i18n.t('login.required') }}</small>

      <button type="submit" class="button">{{ i18n.t('login.submitSignUp') }}</button>
    </form>
  </div>

  <div class="container b-container">
    <form *ngIf="!isResetMode" class="form" [formGroup]="signInForm" (ngSubmit)="onSignIn()">
      <img class="logo__icon" src="assets/images/SignUp.svg" alt="GENEA Sign In" />
      <h2 class="title">{{ i18n.t('login.signIn') }}</h2>
      <span class="form__span">{{ i18n.t('login.signInHint') }}</span>

      <input type="email" class="form__input" [placeholder]="i18n.t('login.email')" formControlName="email" />
      <small *ngIf="controlInvalid('signInForm', 'email')">{{ i18n.t('login.required') }}</small>

      <input type="password" class="form__input" [placeholder]="i18n.t('login.password')" formControlName="password" />
      <small *ngIf="controlInvalid('signInForm', 'password')">{{ i18n.t('login.required') }}</small>

      <a class="form__link" (click)="setMode('reset')">{{ i18n.t('login.forgotPassword') }}</a>
      <button type="submit" class="button">{{ i18n.t('login.submitSignIn') }}</button>
    </form>

    <form *ngIf="isResetMode" class="form" [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
      <img class="logo__icon" src="assets/images/SignUp.svg" alt="GENEA Reset" />
      <h2 class="title">{{ i18n.t('login.reset') }}</h2>
      <span class="form__span">{{ i18n.t('login.resetHint') }}</span>

      <input type="email" class="form__input" [placeholder]="i18n.t('login.email')" formControlName="email" />
      <small *ngIf="controlInvalid('resetForm', 'email')">{{ i18n.t('login.required') }}</small>

      <input type="password" class="form__input" [placeholder]="i18n.t('login.password')" formControlName="newPassword" />
      <small *ngIf="controlInvalid('resetForm', 'newPassword')">{{ i18n.t('login.required') }}</small>

      <input type="password" class="form__input" [placeholder]="i18n.t('login.confirmPassword')" formControlName="confirmPassword" />
      <small *ngIf="controlInvalid('resetForm', 'confirmPassword')">{{ i18n.t('login.required') }}</small>

      <a class="form__link" (click)="setMode('signin')">{{ i18n.t('login.goBack') }}</a>
      <button type="submit" class="button">{{ i18n.t('login.submitReset') }}</button>
    </form>
  </div>

  <div class="switch">
    <div class="switch__circle"></div>
    <div class="switch__circle switch__circle--t"></div>

    <div class="switch__container" *ngIf="isSignUpMode">
      <h2 class="title">{{ i18n.t('login.welcomeBack') }}</h2>
      <p class="description">{{ i18n.t('login.welcomeBackDesc') }}</p>
      <button type="button" class="switch__button button" (click)="setMode('signin')">
        {{ i18n.t('login.signIn') }}
      </button>
    </div>

    <div class="switch__container" *ngIf="!isSignUpMode">
      <h2 class="title">{{ i18n.t('login.helloFriend') }}</h2>
      <p class="description">{{ i18n.t('login.helloFriendDesc') }}</p>
      <button type="button" class="switch__button button" (click)="switchMode()">
        {{ i18n.t('login.signUp') }}
      </button>
    </div>
  </div>
</div>
